/* register.css */

.register {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 60%;
  height: 75%;
  box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.left, .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.or {
  border: 2px solid lightgray;
  border-radius: 50%;
  padding: 10px;
  color: gray;
  background-color: white;
  font-weight: bold;
}

.line {
  width: 0.5px;
  height: 70%;
  background-color: lightgray;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
  
}

.Link {
  text-align: center;
  color: black;
  text-decoration: underline;
  padding-top: 15px;
  cursor: pointer;
}

input {
  width: 200px;
  padding: 15px 20px;
  margin-bottom: 20px;
 
}
.select-input {
  width: 245px;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 15px 20px;
  height: 40px;
 
  
}

.submit {
  width: 200px;
  background-color: #7E57C2;
  color: white;
  font-weight: bold;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.Title {
  position: absolute;
  top: 120px;
  color: #455A64;
}

.link {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .card {
    width: 100%;
    margin-bottom: 50px;
  }

  .wrapper {
    width: 65%;
    height: 90%;
    flex-direction: column;
  }

  .Title {
    display: none;
  }

  .center {
    width: 100%;
    position: relative;
  }

  .left {
    padding: 20px;
  }

  .right {
    padding: 20px;
  }

  .line {
    height: 0.5px;
    width: 300px;
  }
  .select-input {
    width: 100%;
    margin-bottom: 20px;
    
    
  }

}
